.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  