.itemContainer {
    display: flex;
    align-items: center;
    gap: 4px; 
}

.dragIconContainer {
    width: 24px;
    height: 24px; 
}

.item {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    border-radius: 20px;
    background-color: #1C1C21;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
}

.image {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.details {
    flex-grow: 1;
}

.price {
    display: flex;
    align-items: center;
    gap: 8px;
}


